@model Contratos.GestionClientes.Cliente

@{
    ViewData["Title"] = "Detalles";
}

<div class="card text-center">
    <div class="card-header">
        <h1>Detalles del cliente</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">Cliente</h5>
        <div class="row justify-content-center d-flex mt-5">
            <div class="col-6">
                <dl class="row">
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.ID)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.ID)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Nombres)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Nombres)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Apellidos)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Apellidos)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.CUIT)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.CUIT)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Domicilio)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Domicilio)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.TelefonoCelular)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.TelefonoCelular)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.FechaNacimiento)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.FechaNacimiento)
                    </dd>
                </dl>
            </div>
        </div>
        
        <a href="@Url.Action("Edit", new { id = Model.ID })" class="btn btn-primary">Editar</a>
        
    </div>
    <div class="card-footer text-body-secondary">
        
    </div>
    
</div>
<a href="@Url.Action("Index")" class="text-start" style="text-decoration: none;">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
    </svg>
    Volver
</a>


@* <h1>Detalles del cliente</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CUIT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CUIT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domicilio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoCelular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoCelular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    <a asp-action="Index">Atras</a>
</div> *@
